<!DOCTYPE html>
<html>
<head><title>Sample with Data</title></head>
<body>
	Hello my name is {{ name }}<br><br>
	I can count from 1 to 5 like below:<br>
	{% for i in numbers %}
		{{ i }}<br>
	{% endfor %}
</body>
</html>